.App {
  /* text-align: center; */
  background-color: #282c34;
  padding: 30px;
  padding-left: 50px;
}
.full-div {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.full-div-text{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 32px;
  font-weight: 200;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}


.text {
  font-weight: 200;
  tab-size: 2;
}

.info {
  font-weight: 200;
  font-size:medium;
}

.button-31 {
  background-color: #222;
  border-radius: 9px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* margin: 10px; */
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

.slider-div {
  display: flex;
  flex-direction: row;
}
.slider-title {
  font-weight: 200;
  padding-top: 10px;
  font-size:medium;
}
.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 10vh;
  /* margin: auto; */
  margin-left: 30px;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-0 {
  background: #83a9ff;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}